* {
    box-sizing: border-box;
    color: #f9f2d7;
    font-family: 'Merriweather', serif;
}

body {
    background: #141829;
    
}

li {
    list-style-type: none;
}

h1, h2 {
    color: #f2dea8;
}

h3, .rating {
    display: inline;
    text-align: center;
}




.bookmark-box {
    border: 1px solid #21294c;
    background: #21294c;
    border-radius: 3px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.add-or-filter {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    text-align: left;
    color: #f2dea8;
}

label {
    display: block;
    margin-bottom: 2px;
}

button {
    width: 24px;
    height: 24px;
    line-height: 12px;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    padding: 5px;
    border: none;
    background-color: #21294c;
    color: #f2dea8;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 2px;
    margin-bottom: 2px;
}

select {
    height: 24px;
    width: 20%;  
    background-color: #21294c;
    color: #f2dea8;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
}
button:hover, button:focus {
    background-color: #f9f2d7;
    color: #141829;
    font-weight: bold;
}