* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.bookmark-item {
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    justify-content: flex-start;
}


.bookmark-box {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

.add-or-filter {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    text-align: left;
}